.moyout-button {
    background-color: dimgray;
    padding: 7px 15px;
    font-size: 110%;
    border: 0;
    color: white;
}
.moyout-button.moyout-button_small {
    padding: 3px 6px;
    font-size: 80%;
}
.moyout-button.moyout-button_big {
    padding: 15px 30px;
    font-size: 150%;
}

.moyout-button:active {
    background-color: darkgrey;
}
.moyout-button.moyout-button_bad {
    background-color: #dd0000;
}
.moyout-button.moyout-button_bad:active {
    background-color: #ff4444;
}
.moyout-button.moyout-button_good {
    background-color: #00dd00;
}
.moyout-button.moyout-button_good:active {
    background-color: #44ff44;
}
.moyout-button.moyout-button_disabled {
    background-color: #8a8a8a!important;
    color: #ccc!important;
}
