.moyout-head {
    width: 100%;
    height: 50px;
    background-color: lightskyblue;
    color: white;
    line-height: 50px;
}

.moyout-head__left {
    position: absolute;
    left: 10px;
    z-index: 10;
}

.moyout-head__center {
    position: absolute;
    width: 100%;
    text-align: center;
}

.moyout-head__title {
    font-size: 120%;
    font-weight: 100;
}

.moyout-head__right {
    position: absolute;
    right: 10px;
}

.moyout-head__button {
    background-color: dodgerblue;
    border: 0;
    font-size: 100%;
    padding: 5px 10px;
    color: white;
}

.moyout-head__button:active {
    background-color: steelblue;
}
