.moyout-button {
  background-color: #336699;
  padding: 7px 15px;
  font-size: 110%;
  border: 0;
  color: #ffffff;
}
.moyout-button.moyout-button_small {
  padding: 3px 6px;
  font-size: 80%;
}
.moyout-button.moyout-button_big {
  padding: 15px 30px;
  font-size: 150%;
}
.moyout-button:active {
  background-color: #6699cc;
}
.moyout-button.moyout-button_bad {
  background-color: #d40000;
}
.moyout-button.moyout-button_bad:active {
  background-color: #ff6343;
}
.moyout-button.moyout-button_disabled {
  background-color: #8a8a8a !important;
  color: #cccccc !important;
}
.moyout-head {
  width: 100%;
  height: 50px;
  background-color: #336699;
  color: white;
  line-height: 50px;
  position: fixed;
  top: 0;
}
.moyout-head__left {
  position: absolute;
  left: 10px;
  z-index: 10;
}
.moyout-head__center {
  position: absolute;
  width: 100%;
  text-align: center;
}
.moyout-head__title {
  font-size: 120%;
  font-weight: 100;
}
.moyout-head__right {
  position: absolute;
  right: 10px;
}
.moyout-head__button {
  background-color: #6699cc;
  border: 0;
  font-size: 100%;
  padding: 5px 10px;
  color: white;
}
.moyout-head__button:active {
  background-color: #aaccee;
}
.moyout-menu.moyout-menu_showed {
  left: 0;
  height: 100%;
}
.moyout-menu {
  position: fixed;
  left: -100%;
  top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: block;
  background-color: #333333;
  height: 100%;
  transition: left .3s;
}
.moyout-menu__title {
  color: #ffffff;
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  font-size: 120%;
  font-weight: 100;
  background: #666666;
  border-bottom: 1px solid #cccccc;
}
.moyout-menu__list {
  position: relative;
  height: 100%;
}
.moyout-menu__item {
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background-color: #666666;
  padding-left: 10px;
}
.moyout-menu__item a {
  text-decoration: none;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  width: 100%;
  display: block;
}
.moyout-menu__item_top {
  border-bottom: 1px solid #cccccc;
}
.moyout-block__subtitle {
  color: #555;
  display: block;
  width: 100%;
  font-size: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.moyout-block__section + .moyout-block__section {
  border-top: 1px solid #cccccc;
}
.moyout-block__section {
  width: 100%;
  margin-top: 10px;
  line-height: 60px;
}
.moyout-block__title {
  color: #555;
  display: block;
  width: 100%;
  font-size: 110%;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}
.moyout-block {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 10px;
}
.moyout-block.moyout-block_silent {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  margin: 0;
}
.moyout-label {
  border: 0;
  color: #222222;
  font-size: 100%;
}
input.moyout-text {
  color: #222222;
  padding: 7px 0;
  font-size: 100%;
  border: 1px solid #222222;
  background-color: #ffffff;
}
input.moyout-checkbox:checked {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <polygon id="check-mark-icon" points="398.218,92.985 199.729,291.475 113.754,205.476 50,269.242 199.733,419.015 462,156.726 "></polygon> </svg>');
}
input.moyout-checkbox {
  -webkit-appearance: none;
  color: #222222;
  background-color: #eeeeee;
  border: 1px solid #222222;
  width: 25px;
  height: 25px;
  padding: 7px;
}
input.moyout-date {
  color: #222222;
  padding: 7px 0;
  font-size: 100%;
  border: 1px solid #222222;
  background-color: #ffffff;
}
input.moyout-range {
  -webkit-appearance: none;
  background-color: #eeeeee;
  border: #222222;
  height: 5px;
}
input.moyout-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-color: #aaccee;
  border-radius: 25px;
  border: #6699cc 1px solid;
}
input.moyout-input_wide {
  width: 100%;
}
.moyout-head + .moyout-top-tabs {
  top: 50px;
  position: fixed;
  height: 50px;
}
.moyout-top-tabs {
  width: 100%;
  color: #ffffff;
  background-color: #6699cc;
  overflow: hidden;
}
.moyout-top-tabs__list {
  display: block;
  width: 100%;
  height: 50px;
  border-top: #aaccee 1px solid;
}
.moyout-top-tabs__list:after {
  display: table;
  float: none;
  clear: both;
}
.moyout-top-tabs_cols_2 .moyout-top-tabs__item {
  width: 50.0%;
}
.moyout-top-tabs_cols_3 .moyout-top-tabs__item {
  width: 33.33%;
}
.moyout-top-tabs_cols_4 .moyout-top-tabs__item {
  width: 25%;
}
.moyout-top-tabs__item + .moyout-top-tabs__item {
  border-left: #aaccee 1px solid;
  margin-left: -1px;
}
.moyout-top-tabs__item {
  display: inline-block;
  text-align: center;
  height: 50px;
  float: left;
}
.moyout-top-tabs__item a {
  background-color: #6699cc;
  color: #ffffff;
  text-decoration: none;
  height: 49px;
  line-height: 49px;
  display: block;
  width: 100%;
}
.moyout-top-tabs__item a:active {
  background-color: #aaccee;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 15px;
  background-color: #eeeeee;
}
.moyout-head + .moyout-content {
  margin-top: 50px;
}
.moyout-head + .moyout-top-tabs + .moyout-content {
  margin-top: 100px;
}
.moyout-soiler__label {
  color: #696969;
  border-bottom: 1px dashed #696969;
}
.moyout-soiler__label:active {
  display: none;
}
.moyout-soiler__label:active + .moyout-soiler__content {
  display: block;
}
.moyout-soiler__content {
  display: none;
}
