@import "header.css";
@import "menu.css";
@import "blocks.css";
@import "buttons.css";
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 15px;
    background-color: #eee;
}
.moyout-content {
    margin-top: 50px;
}
