@import "colors";

.moyout-label {
  border: 0;
  color: @text;
  font-size: 100%;
}

input.moyout-text {
  color: @text;
  padding: 7px;
  font-size: 100%;
  border: 1px solid @input-border;
  background-color: @input-back;
}

input.moyout-checkbox:checked {
  background-color: @input-border;
}
input.moyout-checkbox {
  -webkit-appearance: none;
  background-color: @input-back;
  border: 1px solid @input-border;
  width: 25px;
  height: 25px;
  padding: 7px;
}
input.moyout-date {
  color: @text;
  padding: 7px;
  font-size: 100%;
  border: 1px solid @input-border;
  background-color: @input-back;
}